<header class="site-header">

  <div class="wrapper">

    <a class="logo" href="{{ site.baseurl }}/">EverClimb</a>
    <h1>Custom built, easy to use web and mobile apps for your business</h1>
    <a class="btn-green" href="mailto:daveande@gmail.com">Contact us</a>

    <!--<nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>--!>

  </div>

</header>
